<% days = %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday] %>

<div class="page">
  <%= render "toolbar" %>

  <div class="month">
    <div class="month__weekdays">
      <% days.each do |day| %>
        <div class="month__weekday"><%= day %></div>
      <% end %>
    </div>

    <div class="month__grid">
      <% 42.times do |i| %>
        <% date = @grid_start + i %>
        <% blocks = @blocks_by_day[date] || [] %>
        <% classes = ["month__cell"] %>
        <% classes << "is-other-month" if date.month != @month_start.month %>
        <% classes << "is-today"       if date == @today %>
        <div class="<%= classes.join(' ') %>" data-date="<%= date.iso8601 %>">
          <%= link_to "", root_path(date: date.iso8601), class: "month__cell-bg",
                      aria: { label: "Open week of #{date.iso8601}" } %>
          <span class="month__date"><%= date.day %></span>
          <% blocks.first(3).each do |block| %>
            <%= link_to edit_time_block_path(block, return_to: "month"),
                        class: "month__block-bar",
                        style: "background: #{block.color};",
                        title: "#{block.title} · #{block.start_at.strftime('%H:%M')}–#{block.end_at.strftime('%H:%M')}" do %>
              <%= block.title %>
            <% end %>
          <% end %>
          <% if blocks.size > 3 %>
            <span class="month__more">+<%= blocks.size - 3 %> more</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
