<% weekday_initials = %w[S M T W T F S] %>

<div class="page">
  <%= render "toolbar" %>
  <%= render "template_banner" %>

  <div class="year">
    <div class="year__grid">
      <% (1..12).each do |month| %>
        <% month_start = Date.new(@year, month, 1) %>
        <% grid_start  = month_start - month_start.wday %>
        <div class="year__month">
          <h2 class="year__month-name"><%= month_start.strftime("%B") %></h2>

          <div class="year__weekdays">
            <% weekday_initials.each do |d| %>
              <div class="year__weekday"><%= d %></div>
            <% end %>
          </div>

          <div class="year__days">
            <% 42.times do |i| %>
              <% date = grid_start + i %>
              <% if date.month == month %>
                <% has_blocks = @days_with_blocks.include?(date) %>
                <% klass = "year__day"
                   klass += " is-today"  if date == @today
                   klass += " has-blocks" if has_blocks %>
                <%= link_to "",
                            root_path(date: date.iso8601),
                            class: klass,
                            title: date.strftime("%a, %b %-d") + (has_blocks ? " · has blocks" : "") %>
              <% else %>
                <span class="year__day is-empty"></span>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
